#palette-name{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size:xx-large;
    font-weight:bolder;
}

#palette-color-1{
    background-color:#EAF2EF;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
}

#palette-color-2{
    background-color:#912F56;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
}

#palette-color-3{
    background-color:#521945;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
}

#palette-color-4{
    background-color:#361F27;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
}

#palette-color-5{
    background-color:#0D090A;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
}

#palette-color-6{
    background-color:#F1E8B8;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
    text-decoration:underline;
}

#palette-color-7{
    background-color:#F9E784;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
    text-decoration:underline;
}

#palette-color-8{
    background-color:#E58F65;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
    text-decoration:underline;
}

#palette-color-9{
    background-color:#D05353;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
    text-decoration:underline;
}

#palette-color-10{
    background-color:#191919;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding:24px;
    font-size:x-large;
    font-style:oblique;
    text-decoration:underline;
}