* {
    box-sizing: border-box;
}
    
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar1 {
    background-color:#512f0986; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    }

    #navbar1 a {
        text-decoration: none;
        color: black;
        padding: 24px;
    }
    
    
#navbar {
    background-color:#FF6F61; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    }
    
#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
}
    
#navbar #logo img {
    width: 400px;
    margin-right: auto;
}

.cta-button {
    border: 2px solid #FFDB58;
    border-radius: 48px;
    background-color: #FFDB58;
    color: black;
}


#header1 {
    position: sticky;
    top: 0px;
}
    
.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background-color:  rgb(78, 247, 60);
}

#navbar-top h1{
    padding: 18px;
    text-align: center;
}

#navbar-top h3{
    padding: 31px;
    font-size:small;
}
    
#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
}
    
#navbar-top a {
    text-decoration: none;
    color: rgb(201, 80, 80);
    padding: 12px 0px;
}
    
#navbar-mid {
    background-color: black;
}
    
#navbar-mid .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
    
    
#navbar-mid a {
    text-decoration: none;
    color: rgb(78, 247, 60);
    padding: 24px 0px;
}
    
#navbar-mid .content-column div a {
    padding: 24px;
    font-size: 16px;
}
    
#navbar-mid #logo img {
    width: 200px;
}
    
#navbar-mid .cta-buttom {
    background-color: rgb(102, 9, 125);
    color: rgb(78, 247, 60);
    border-radius: 36px;
    padding: 10px 14px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}
    
    #navbar-bottom {
    background-color: black;
    
}
    
    #navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}
    
    #navbar-bottom a {
    text-decoration: none;
    color: rgb(78, 247, 60);
    padding: 10px 0px;
    font-size: 14px;
}